@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }

  .Header-text {
    @apply font-bold md:text-sm;
  }

  .badge {
    @apply absolute top-[-3px] right-[-3px] pb-2 rounded-full w-4 h-4 text-center text-xs bg-white text-black;
  }

  .product-button {
    @apply mt-auto flex items-center justify-center w-full px-4 py-2 
    text-xs md:text-sm font-medium 
    bg-gradient-to-b from-yellow-100 to-yellow-400 
    border border-yellow-100 rounded-sm 
    hover:bg-yellow-700 
    focus:outline-none focus:ring-1 focus:ring-yellow-500
    active:from-yellow-500 active:text-white;
  }
}
